<footer class="container-fluid">

    <!-- Brand logo -->
    <div class="row text-center">
        <div class="col-md-12">
            <a href="/">
                <img src="{{ asset('images/rqp_white.png') }}" class="urbexarts-logo" alt="logo" height="150">
            </a>
        </div>
    </div>

    <!-- Social bar -->
    <div class="row footer-social pt-4">
    </div>

    <!-- Footer navigation -->
    <div class="row text-center">
        <div class="col-md-12 mb-3">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/videos">Vidéos</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Copyright -->
    <div class="row text-center copyright">
        <div class="col-md-12">
            <a href="/"><p class="sign-txt">RQPSKATECLUB.COM</p></a>
            <img class="m-4" src="{{ asset('images/partner_banner.png') }}" alt="" height="110">
        </div>
        <div class="col-md-12">
            <p><i class="fas fa-campground"></i> Made by <a href="http://www.stevendouillet.com" target="_blank">steven douillet</a></p>
        </div>
    </div>

    <div class="cb-to-top"><a href="#" id="cb-to-top"><i class="fa fa-angle-up cb-circle"></i></a></div>
</footer>