{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container pt-5">

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div class="section-module-head">
                    <h2 class="section-module-title">NEWS</h2>
                </div>

                <div class="card">
                    <a href="#"><img class="card-img-top" src="test.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="section-module-head">
                    <h2 class="section-module-title">Events</h2>
                </div>

                <a href="#"><img class="card-img-top mb-2" src="test2.png" alt=""></a>
                <a href="#"><img class="card-img-top mb-2" src="test2.png" alt=""></a>
                <a href="#"><img class="card-img-top mb-2" src="test2.png" alt=""></a>
            </div>

        </div>
        <!-- /.row -->


        <div class="section-module-head mt-5">
            <h2 class="section-module-title">VIDEOS</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="test.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="img1.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="img2.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="img3.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="img4.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="img5.png" alt=""></a>

                    <div class="card-body text-center">

                        <h4 class="item-title">
                            <a href="#">Project One</a>
                        </h4>

                        <p class="item-date">April 12, 2020</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}